{erl_opts, [debug_info]}.

{deps, [
    {amqp_client, ".*", {git, "https://github.com/rabbitmq/rabbitmq-erlang-client.git", {branch, "main"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [queue_consumer]}
]}.
