{erl_opts, [debug_info]}.

{deps, []}.

{project_apps, [
    {shared_storage,
     [
         {description, "Shared Storage for content and payments"},
         {registered, [shared_storage_sup]},
         {mod, {shared_storage_app, []}},
         {applications, [
             kernel,
             stdlib,
             epgsql
         ]}
     ]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [shared_storage]}
]}.